 Creator: Mayur Rindhe

# **Variable**

**Variables are containers that can hold any data**

In [ ]:
# left side of assignment operator is variable name and on right side of it is value of variable
rent = 1500 # here 'rent' is a variable
gas = 720
grocery = 1500

total_rent = rent + gas + grocery

print("Total Rent is :",total_rent)

Total Rent is : 3720

In [ ]:
#variable are called variable because value in variable can vary
rent = 1700

total_rent = rent+gas+grocery
print("Total Rent is :",total_rent)

Total Rent is : 3920

In [ ]:
a="hi"
b="my name is"
c="Mayur"
print("hello,",a,b,c)

hello, hi my name is Mayur

**variable name should not be keywords** 

**variable should not contains special character except "_"**

# **Numbers**

 **# is used for single line comment**

' ' ' this is used 

for multiline comment ' ' '

In [ ]:
#python as calculator

5+48 # addition

53

In [ ]:
20-5 # substraction

15

In [ ]:
10*3 # multiplication

30

In [ ]:
10/3 # devision

3.3333333333333335

In [ ]:
10//3 # it will gives only integer value so out of 3.333 it gives 3 and skip 0.333

3

In [ ]:
5%2 # get the remainder  , % is a modulus operator which returns the remainder

1

In [ ]:
5**2 # get the sqaure of a number

25

In [ ]:
a = 5.51242
b = 45.56468
c = a+b
c

51.0771

In [ ]:
#rounding off the answer
round(c,2)

51.08

In [ ]:
# Area of Triangle
base=15
height=22
area= 0.5*base*height
print("area of traingle:",area)

area of traingle: 165.0

# **STRINGS**

**strings are used to store text data in python**

**in string indexing start from 0** 

**'space' also has its own index value**

In [ ]:
text = "Hello World"

In [ ]:
text[0] # this will return the character from string at position 0 (or index 0)

'H'

In [ ]:
text[5] # space also has a index

' '

There are 2 types of data structure in pyhton 
1. mutable (whose value can be change )
2. immutable (whose value cannot be change)

**List,dictionary,set are mutable data type**

**number , string , tuple are immutable data types**

In [ ]:
text[0:4] # using index sub-range

'Hell'

In [ ]:
text[4:]

'o World'

In [ ]:
text[:5]

'Hello'

In [ ]:
text[:]

'Hello World'

In [ ]:
#reversing string  [start:end:step]
text[::-1]

'dlroW olleH'

In [ ]:
text2='let\'s learn python'  # \ is used to add any specific symbol
text2

"let's learn python"

In [ ]:
#multiline string

hello='''Hi 
my 
name 
is 
Mayur'''
print(hello)

Hi
my
name
is
Mayur

In [ ]:
# concatenation of string
s1="hello"
s2="world"
s3= s1+ " " +s2
s3

'hello world'

In [ ]:
#typecasting
state = "The number of state in india :"
num = str(29)
total = state + num
total

'The number of state in india :29'

python dont know , how to add number data type into string datatype

# **LISTS**

**List store the list of items in it**

**List is mutable data type in python , it means its value can be modifies once assigned**

In [ ]:
#suppose you went at grocery store and you make a list 

items = ["pasta","biscuit","veg","parle fruity","maida","chocolate"] 

items

['pasta', 'biscuit', 'veg', 'parle fruity', 'maida', 'chocolate']

index are like : [0,1,2,3.....]  or [....-4,-3,-2,-1]

In [ ]:
items[2]

'veg'

In [ ]:
# list are mutable data type , hence we can change the content of list
items[3] = "maggi"

In [ ]:
items

['pasta', 'biscuit', 'veg', 'maggi', 'maida', 'chocolate']

In [ ]:
items[0:3] # here index 0 is included but index 3 is excluded

['pasta', 'biscuit', 'veg']

In [ ]:
#reversing list
items[::-1]

['chocolate', 'maida', 'maggi', 'veg', 'biscuit', 'pasta']

In [ ]:
items[-1] # using negative indexing

'chocolate'

In [ ]:
items = ["pasta","biscuit","veg","parle fruity","maida","chocolate"] 
items

['pasta', 'biscuit', 'veg', 'parle fruity', 'maida', 'chocolate']

**append() - append will add the element in the list at end**

In [ ]:
# append will add one element to the list at the end
items.append("butter")
items

['pasta', 'biscuit', 'veg', 'parle fruity', 'maida', 'chocolate', 'butter']

**insert() - insert can add element at any location**

In [ ]:
#if you want to add bread at second position in list : use "insert"  method
items.insert(1,"eggs") # here 1 is index at which we want to add element 
print(items)

['pasta', 'eggs', 'biscuit', 'veg', 'parle fruity', 'maida', 'chocolate', 'butter']

In [ ]:
# checking item in list 
"pasta" in items

True

In [ ]:
"chips" in items

False

In [ ]:
# adding to lists 
list_1 = ['pasta', 'biscuit','veg', 'parle fruity', 'maida', 'chocolate', 'butter']
list_2 = ['mango','gauva','pineapple','banana']
new_list = list_1 + list_2
print(new_list)

['pasta', 'biscuit', 'veg', 'parle fruity', 'maida', 'chocolate', 'butter', 'mango', 'gauva', 'pineapple', 'banana']

In [ ]:
# check length of list 
len(new_list)

11

# **Dictionary and Tuple**

dictionary is mutable data type and have {key:value} pair format

Tuple is immutable data type in python and is faster than list

In [ ]:
#telephone directory using dictionery
d={"tom":9548786545,"joey":457896445698,"boni":1245789865}
d

{'boni': 1245789865, 'joey': 457896445698, 'tom': 9548786545}

In [ ]:
type(d)

dict

In [ ]:
d["tom"]  # we can acesss values using keys

9548786545

In [ ]:
d.keys()

dict_keys(['tom', 'joey', 'boni'])

In [ ]:
d.values()

dict_values([9548786545, 457896445698, 1245789865])

In [ ]:
# adding new element to the dict 
d["tomy"] = 1245986532
print(d)
# when we add the item order of all the items changed , hence in dictionary order doesnt matters, because it is storing elements as key value pair

{'tom': 9548786545, 'joey': 457896445698, 'boni': 1245789865, 'tomy': 1245986532}

In [ ]:
#deleting item from dictionery
del d["tom"]
print(d)

{'joey': 457896445698, 'boni': 1245789865, 'tomy': 1245986532}

In [ ]:
# cheching element from dict
 
"boni" in d

True

In [ ]:
"mayur" in d

False

In [ ]:
#clearing entire data from dict 
d.clear()
print(d)    # delete all data from dict

{}

**Tuple**

Tuple is list of values grouped together

In [ ]:
# List: All the values in List have same meaning : Homogeneous
# Tuple : All the values in tuple have different meaning : Heterogeneous

In [ ]:
point = (5,15) # here 1 st element is x co-ordinate and 2 nd value is y co-ordinate . Hence both elements have different properties . this is called heterogeneous .

In [ ]:
print("acessing 1 st element from tuple :",point[0])
print("acessing 2 nd element from tuple :",point[1])

acessing 1 st element from tuple : 5
acessing 2 nd element from tuple : 15

In [ ]:
#examples of  list :

name_list=["may","john","kito"] # here every item is name of person

expense_list = [12,154,459,456] # every item is expense

In [ ]:
#examples of tuple :

point= (12,5) # point x and y coordinate , each value is difference 

adress= (1820,"purple street","newyork") # each item has different meaning

# **If_else:**

**if else statement is used to check partcular conditions**

In [ ]:
# Checking the number is even or odd

In [ ]:
num = int (input("Enter a number: "))

if num%2 == 0: # this condition is first check , if this condition is met , then else block is not executed
    print("The number is even ")
else: # if above if block is not executed then else block is executed
    print("The number is odd")

Enter a number: 7
The number is odd

write a program that ask user to enter dish name and return 
the cuisine of dish means chinese , indian etc

In [ ]:
indian = ["samosa","puran poli","dal_khichadi"]
chinese = ["manchov","manchurian","soup"]
italian = ["pasta","bokov","somun"]

dish = input("enter a dish :")

if dish in indian:
    print("indian")
elif dish in chinese:
    print("chinese")
elif dish in italian:
    print("italian")
else:
    print("out of list")

enter a dish :samosa
indian

# **for loop**

**FOR loop is used when you want to do a same peration on a range of things**

In [ ]:
# store monthly expences in a list & find out total expence for all months

In [ ]:
expenses = [1320,1520,461,800,469,804,964,1256,950,1000,5000,4200]

total=0

for item in expenses:

    total = total + item

print("The total expences will be : ",total)

The total expences will be :  18744

**range(start,end) function**

In [ ]:
 # remember range only accept number in it

In [ ]:
for i in range(1,5):
    print(i)

1
2
3
4

sqaure of a numbers in range

In [ ]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

write a table from 11 to 20

In [ ]:
for i in range(11,21):
    for j in range(1,11):
        print(f"{i}*{j}={i*j}")

11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
13*1=13
13*2=26
13*3=39
13*4=52
13*5=65
13*6=78
13*7=91
13*8=104
13*9=117
13*10=130
14*1=14
14*2=28
14*3=42
14*4=56
14*5=70
14*6=84
14*7=98
14*8=112
14*9=126
14*10=140
15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150
16*1=16
16*2=32
16*3=48
16*4=64
16*5=80
16*6=96
16*7=112
16*8=128
16*9=144
16*10=160
17*1=17
17*2=34
17*3=51
17*4=68
17*5=85
17*6=102
17*7=119
17*8=136
17*9=153
17*10=170
18*1=18
18*2=36
18*3=54
18*4=72
18*5=90
18*6=108
18*7=126
18*8=144
18*9=162
18*10=180
19*1=19
19*2=38
19*3=57
19*4=76
19*5=95
19*6=114
19*7=133
19*8=152
19*9=171
19*10=190
20*1=20
20*2=40
20*3=60
20*4=80
20*5=100
20*6=120
20*7=140
20*8=160
20*9=180
20*10=200

star pyramid program

In [ ]:
for i in range(1,6): 
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

**break: using break with for loop**

sometime we need to break the for loop , if some condition met , with this , we can save the computation power too

suppose you have lost the car keys . you have to keep searching it , untill it found . once you found the keys , you have to stop the searching

In [ ]:
key_location = "chair" # lets say key is here

location = ["garage","kitchen","hall","chair","living room","bathroom"] # here I am listing all the location in my house

for i in location:
    if i== key_location:
        print("key is found in ",i)
        break                         # this will break the statement here 
    else:
        print("key is not found in",i )

key is not found in garage
key is not found in kitchen
key is not found in hall
key is found in  chair

**continue: using continue with for loop**

sometimes we want to skip the operation for particular iteration , at that time we use contniue

In [ ]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

In [ ]:
for i in range(1,6):
    if i%2 == 0:
        continue      # this will continue the loop and dont print sqaure for even number
    print(i*i)

1
9
25

# **While loop**

In [ ]:
i = 1
while i<=5:    # while loop take only one condition
    print(i)
    i=i+1      # counter

1
2
3
4
5

# **Functions**

Function is block of code that performs specific tasks

function is like washing machine , which take some clothes as input , 
perform operation(cleaning and drying) on it 
and gives output

Python functions are used to reduce the repeatability of code

In [ ]:
# make a function to add two numbers 

def add(x,y):
  total = x+y 
  return total

add_num =  add(7,8)
print(add_num)

15

In [ ]:
# calling function with named arguments

def add(x,y):
  total = x+y
  return total
    
addition = add(y = 10 , x = 15) # so it is not necessary to pass first x and then y . with named arg , we can pass numbers without sequence
print(addition)

25

**Global and Local variable**

In [ ]:
total=0 # this is global variable

def add(x,y):
  total = x*y     # (x,y,total) are called local variable , beacause they have access only within that function
  print("total within the function : ",total)
  return total

print("output of a function :",add(y=5,x=6)) # named argument ....we decide the value of x and y

print("total outside the function:",total)    # this total is called global variable

total within the function :  30
output of a function : 30
total outside the function: 0

In [ ]:
# create a function to calculate total expense of a person 

tom_exp_list=[1250,456,1598,1236]
joy_exp_list=[1456,587,1456,4877]


def calculate_total(exp):    #function argument is exp 
    total=0
    for i in exp:
        total = total + i
    return total             # function return value is total

tom_total=calculate_total(tom_exp_list)  # calling function
joy_total=calculate_total(joy_exp_list)

print("tom's total exp is :",tom_total)
print("joy's total exp is :",joy_total)

tom's total exp is : 4540
joy's total exp is : 8376

**deault argument**

In [ ]:
def add(x,y=2): # here y is default argument , hence while calling this function we can only pass value of x .
  total = x + y
  return total

add_num = add(5)
print(add_num)   # here we are providing only one argument beacause second is default i.e. y=2

7

**doc string**

it is a documentation string used to describe about the function written . 

it is written in triple  quotes

In [ ]:
def add(x,y=2): 

  ''' this is doc string which explains 
  that how this function works . 
  This functio  takes 2 arguments and add that 2 numbers 
  '''
  total = x + y
  return total

add_num = add(8)
print(add_num)

10

# **Using pip**

to install any library , just run 

!pip install package_name

ex . 

!pip install pandas

you can go to pandas pypi (python package index) , to check the installation

to uninstall packages use :

! pip uninstall package_name

ex.

!pip uninstall pandas

# Using Modules in python

Module is code written by somebody else , and we can easily import that code in our code

In [ ]:
# lets see "math" module

In [ ]:
import math

In [ ]:
math.pi

3.141592653589793

In [ ]:
#lets calculate area of a circle 
radius = 5 
area_of_circle = math.pi * radius *radius 
print("Area of circle: ",area_of_circle)

Area of circle:  78.53981633974483

In [ ]:
import time

In [ ]:
t1 = time.time() # start time
print("time t1 : ",t1)

time.sleep(5) # lets take a 5 sec break for a program 

t2 = time.time()
print("time t2 : ",t2)

time t1 :  1622054418.6177006
time t2 :  1622054423.624466

In [ ]:
import calendar

In [ ]:
cal = calendar.month(2021,5)
print(cal)

      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [ ]:
#check leap year or not 
calendar.isleap(2020)

True

In [ ]:
#check leap year or not 
calendar.isleap(2021)

False